<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Book</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<form action="book.html" method="post" th:action="@{/books/edit/{id}(id=${book.id})}">
    <table class="books-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="hidden" for="book-id">id:</label>
                <input class="book-id" id="book-id" name="id" readonly th:size="${#strings.length(book.id)}"
                       th:value="${book.id}" type="text"/>
            </td>
            <td>
                <label class="hidden" for="book-name">name:</label>
                <input id="book-name" name="name" th:value="${book.name}" type="text" value="name">
            </td>
            <td>
                <label class="hidden" for="genre-select">Choose a genre</label>
                <select id="genre-select" name="genreId">
                    <option selected th:text="${book.genre.name}" th:value="${book.genre.id}" value="1">default</option>
                    <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre.id}"
                            value="1">myth
                    </option>
                </select>
            </td>
            <td>
                <label class="hidden" for="author-select">Choose an author</label>
                <select id="author-select" name="authorId">
                    <option selected th:text="${book.author.name}" th:value="${book.author.id}" value="1">default
                    </option>
                    <option th:each="author : ${authors}" th:text="${author.name}" th:value="${author.id}"
                            value="author">William
                    </option>
                </select>
            </td>
            <td>
                <input alt="submit-icon" class="submit-icon" src="../static/submit-icon.svg"
                       th:src="@{/submit-icon.svg}"
                       type="image"/>
            </td>
            <td>
                <a href="library.html" th:href="@{/}">
                    <img alt="return-icon" class="return-icon" src="../static/return-icon.svg"
                         th:src="@{/return-icon.svg}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script src="../static/book.js" th:src="@{/book.js}"></script>
</body>
</html>