<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Comments</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="flex flex--comment-table">
    <table class="comments-table">
        <caption class="comments-table--caption">Comments</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody th:each="comment : ${comments}">
        <tr>
            <td th:text="${comment.id}">1</td>
            <td th:text="${comment.text}">Very good comment</td>
        </tr>
        </tbody>
    </table>
    <a href="library.html" th:href="@{/}">
        <img alt="return-icon" class="return-icon" src="../static/return-icon.svg" th:src="@{/return-icon.svg}">
    </a>
</div>
</body>
</html>