<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Library</title>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1 class="hidden">Library</h1>
<div class="flex flex--author-genre-table">
    <table class="authors-table">
        <caption class="authors-table--caption">Authors</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody th:each="author : ${authors}">
        <tr>
            <td th:text="${author.id}">1</td>
            <td th:text="${author.name}">William Arnold</td>
        </tr>
        </tbody>
    </table>
    <table class="genres-table">
        <caption class="genres-table--caption">Genres</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody th:each="genre : ${genres}">
        <tr>
            <td th:text="${genre.id}">1</td>
            <td th:text="${genre.name}">myth</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="flex flex--author-genre-table">
    <table class="books-table">
        <caption class="books-table--caption">Books</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">1067</td>
            <td th:text="${book.authorName}">Williams</td>
            <td th:text="${book.genreName}">myth</td>
            <td>
                <a href="book.html" th:href="@{books/{id}(id=${book.id})}">
                    <img alt="edit-book" src="../static/edit-icon.svg" th:src="@{/edit-icon.svg}">
                </a>
            </td>
            <td>
                <a href="comments.html" th:href="@{comments/{id}(id=${book.id})}">
                    <img alt="comments-link" class="comments-icon" src="../static/comments-icon.svg"
                         th:src="@{/comments-icon.svg}">
                </a>
            </td>
            <td>
                <form action="library.html" method="post" th:action="@{books/delete/{id}(id=${book.id})}">
                    <label for="book-submit-deleted">
                        <input alt="delete-icon" class="basket-icon" id="book-submit-deleted"
                               src="../static/wastebasket-icon.svg"
                               th:src="@{/wastebasket-icon.svg}" type="image">
                    </label>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="flex flex--creating-book">
    <h2 class="creating-book--header">
        Create new book
    </h2>
    <form action="library.html" method="post" th:action="@{books}">
        <label class="creating-book--label" for="create-book-name">Enter book name
            <input id="create-book-name" name="name" type="text">
        </label>
        <label class="creating-book--label" for="genre-select">Choose a genre
            <select id="genre-select" name="genreId">
                <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre.id}"
                        value="1">myth
                </option>
            </select>
        </label>
        <label class="creating-book--label" for="author-select">Choose an author
            <select id="author-select" name="authorId">
                <option th:each="author : ${authors}" th:text="${author.name}" th:value="${author.id}"
                        value="author">William
                </option>
            </select>
        </label>
        <input alt="add-icon" class="add-icon creating-book--add-icon" src="../static/add-icon.svg"
               th:src="@{/add-icon.svg}" type="image">
    </form>
</div>
</body>
</html>