.hidden {
    display: none;
}

.authors-table tr th, .authors-table tr td {
    border: 1px solid grey;
}

.authors-table--caption, .genres-table--caption, .books-table--caption, .comments-table--caption {
    font-weight: bold;
    font-size: 20px;
}

.genres-table tr th, .genres-table tr td {
    border: 1px solid grey;
}

.books-table tr th, .books-table tr td {
    border: 1px solid grey;
}

.comments-table tr th, .comments-table tr td {
    border: 1px solid grey;
}

.authors-table, .genres-table, .books-table, .comments-table {
    border-collapse: collapse;
}


.flex {
    display: flex;
}

.flex--author-genre-table {
    justify-content: space-evenly;
}

.flex--creating-book {
    flex-direction: column;
    align-items: center;
}

.flex--comment-table {
    align-items: center;
    justify-content: center;
}

.basket-icon {
    width: 22px;
}

.add-icon {
    width: 22px;
}

.creating-book--add-icon {
    vertical-align: bottom;
}

.comments-icon {
    width: 22px;
}

.submit-icon {
    width: 22px;
}

.return-icon {
    width: 22px;
}

.creating-book--header {
    font-size: 20px;
}

.creating-book--label {
    font-size: 18px;
    font-weight: bold;
}

.book-id {
    text-align: center;
}